<nav class="navbar navbar-dark bg-primary">
    <span class="navbar-brand">Plano FaleMais!</span>
</nav>
<div class="container" >
    <div style="width: 80%; margin: auto">
        <div class="table-responsive">
            <table class="table table-hover responsive">
                <thead>
                    <tr>
                        <td>Origem</td>
                        <td>Destino</td>
                        <td>Tempo</td>
                        <td>Plano FaleMais</td>
                        <td><b>Com FaleMais</b></td>
                        <td><b>Sem FaleMais</b></td>
                    </tr>
                </thead>
            
                <tbody>
                    <tr *ngFor="let rate of rates">
                        <td>0{{ rate.origin }}</td>
                        <td>0{{ rate.target }}</td>
                        <td>
                            <div class="input-group mb-3">
                                <input style="width: 50px;" type="number"  #minutes (keyup)="calculate(rate, minutes.value, minutesPlan.value)" class="form-control" >
                            </div>
                        </td>              
                        <td>
                            <select class="custom-select" #minutesPlan (change)="calculate(rate, minutes.value, minutesPlan.value)">
                                <option *ngFor="let plan of plans" [value]="plan.minute">{{plan.name}}</option>
                            </select>
                        </td>
                        <td>{{ rate.withPlan | currency: 'R$ ' }}</td>
                        <td>{{ rate.withoutPlan | currency: 'R$' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>
